<?xmlversion="1.0"?>
<configuration>
<system.web>
<compilationbatch="false"/>
</system.web>
<system.webServer>
<handlers>
<addname="iisnode"path="server.js"verb="*"modules="iisnode"/>
</handlers>
<rewrite>
<rules>
<rulename="myapp">
<matchurl="/*"/>
<actiontype="Rewrite"url="server.js"/>
</rule>
</rules>
</rewrite>
</system.webServer>
</configuration>

